{% extends 'base.html' %}
{% block content %}
    <h1>Current Todos</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url 'view_todo' todo.id %}">
                    {% if todo.important %}
                    <b>{{ todo.title }}</b>
                    {% else %}
                    {{ todo.title }}
                    {% endif %}
                </a>
                {% if todo.description %}
                {{ todo.description }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
